@charset "utf-8";
/* CSS Document */

html, body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

h1{
	font-size:30px;
	text-align:center;
	font-family: 'ralewaysemibold';
	}
.clear{
	clear: both;
}
#home_slider.owl-carousel .owl-nav .owl-prev{
	background: url( ../images/carousel_backward_arrow.jpg) no-repeat;
	width: 70px;
    height: 90px;
    left: 30px;
    top: 50%;
    position: absolute;
	}
#home_slider.owl-carousel .owl-nav .owl-prev:hover{
	background: url( ../images/carousel_backward_arrow.jpg) no-repeat;
	left: 30px;
    top: 52%;
	}
#home_slider.owl-carousel .owl-nav .owl-next{
	background: url( ../images/carousel_forward_arrow.jpg) no-repeat;
	width: 70px;
    height: 90px;
    right: 50px;
    top: 50%;
    position: absolute;
	}
#home_slider.owl-carousel .owl-nav .owl-next:hover{
	background: url( ../images/carousel_forward_arrow.jpg) no-repeat;
	right: 50px;
    top: 52%;
	}
#home_slider{
	position:relative;
	z-index:1;
	}
.slider_text{
	color:#fff;
	position:absolute;
	z-index:2;
	    top: 37%;
    left: 27%;
	}
.slider_text h2{
	font-family: 'ralewaymedium';
	font-size:36px;
	text-align:center;
	}
.slider_text h3{
	font-size:52px;
	text-align:center;
	font-family: 'ralewayextrabold';
	}

.slider_text p{
	font-family: 'montserratlight';
	font-size:16px;
	color:#fff;
	text-align:center;
	max-width:570px;
	width:100%;
	}
.button_slider{
	font-family: 'ralewayextrabold';
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	display:block;
	max-width:170px;
	width:100%;
	background:#998675;
	border-bottom:solid #736357 3px;
	margin:0 auto;
	padding: 15px 0px 13px;
	border-radius:5px;
	transition:0.3s;
	outline: none;
	}
.button_slider:hover{
	text-decoration:none;
	transition:0.3s;
	color:#fff;
	opacity:0.6;
	outline: none;
	}
#main{
	position:relative;
	}
.header {
    position: absolute;
	width:100%;
    z-index: 3;
    left: 4%;
    top: 30px;
}
.logo{
	display:block;
	float:left;
	width:20%;
	}
.menu-home{
	width:58%;
	float:right;
	    margin-top: 33px;
	}
.menu-home li{
	float:left;
	list-style:none;
	padding-right:31px;
	}
.menu-home li:last-child{
	padding-right:0;
	}
.menu-home li a{
	font-size:14px;
	font-family: 'montserratlight';
	display:block;
	color:#fff;
	}
.menu-home li.active a,
.menu-home li a:hover{
	color:#c7b299;
	}
.owl-dots .owl-dot span{
	background:#a09e9e;
	border-radius:100px;
	width:12px;
	height:12px;
	float:left;
	margin-right:8px;
	}
.owl-dots .owl-dot.active span{
	background:inherit;
	border:solid 2px #d3c1ad;
	border-radius:100px;
	width:13px;
	height:13px;
	}
.owl-dots{
	width: 300px;
    position: absolute;
    bottom: 28px;
    left: 48%;
	}
/* block1 */

.item_block{
	position: relative;
}

.item_block img{
	    width: 40px;
    height: 35px;
	display: block;
	margin: 0 auto;
	transition: 0.3s;
}

.item_block h3{
	font-size: 22px;
	color: #555555;
	font-family: 'ralewaysemibold';
	margin-bottom: 20px;
	margin-top: 26px;
	transition: 0.3s;
}

.item_block p{
	font-size: 14px;
	color: #8C8C8C;
	font-family: 'ralewayregular';
	line-height: 26px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.block1{
	padding: 55px 0px 45px 0px;
}

.item_block:hover h3 {
	color: #C7B299
}
.item_block:after {
	content:"";
	position: absolute;
	width: 71px;
	height: 3px;
	background: #f1eee9;
	left: 33%;
	transition: 0.3s;
}
.item_block:hover:after {
	background: #c7b299;	
}

/* block 2 */

.block2{
	background: #fbfaf8;
	padding-top: 85px;
}

.item_block2{
	margin: 0 auto;
}

.item_block2 h3{
	display: block;
	text-align: center;
	color: #555555;
	font-family: 'ralewaysemibold';
}

.item_block2 p{
	display: block;
	text-align: center;
	color: #555555;
	font-family: 'montserratlight';
	margin-bottom: 45px;
}

.item_block2 img{
	display: block;
    width: 140%;
    height: auto;
    margin-left: -135px;
}

/* block 3 */

.block3{
	padding: 40px 0px 34px;
	background: linear-gradient(to right, #231d1b, #513a2e);
	width: 100%;
}

.block3 .text_block3{
	color: white;
	text-align: left;
	left: 10%;
	font-family: 'montserratlight';
	font-size: 20px;
	font-weight: 500;
}

.block3 .text_block3 strong{
	font-weight: 900;
	color: #998675;
	font-family: 'ralewayregular';
}

.block3 .text_block3 span{
	font-weight: 300;
	color: #615855;
	font-family: 'montserratlight';
	font-size: 18px;
}

.block3 .button_block3{
	padding-top: 10px;
	left: 5%;
}

.button_purchase_block3{
	font-family: 'ralewayextrabold';
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	display:block;
	max-width:170px;
	width:100%;
	background:#998675;
	border-bottom:solid #736357 3px;
	margin:0 auto;
	padding: 15px 0px 13px;
	border-radius:5px;
	transition:0.3s;
	outline: none;
	}

.button_purchase_block3:hover{
	text-decoration:none;
	transition:0.3s;
	color:#fff;
	opacity:0.6;
	outline: none;
	}

/* block 4 */
.block4{
	padding: 35px 0px 80px 0px;
}

.block4 .row{
	margin: 40px 0px;
}

.item_block4{
	position: relative;
	margin: 0 auto;
	
}

.item_block4 h5{
	display: block;
	text-align: center;
	color: #555555;
	font-family: 'ralewaysemibold';
}

.item_block4 p{
	display: block;
	text-align: center;
	color: #555555;
	font-family: 'montserratlight';
	margin-bottom: 25px;
}

.project_block4{
	font-size: 14px;
	width: 100%;
}

.project_block4 img{
	width:100%;
	height: auto;
}

.heading_project_block4{
	position: relative;
	background: #fbfaf8;
	width: 100%;
	height: auto;
	font-size: 14px;
	transition: 0.3s;
	padding: 20px;
	cursor: pointer;
}

.heading_project_block4 p{
	margin: 0px;
}

.heading_project_block4:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fbfaf8;
	left: 5%;
	top: -9px;
	transform: rotate(-45deg);
	transition: 0.3s;
}

.project_block4:hover .heading_project_block4{
	background: #362f2d;
	transition: 0.3s;
}

.project_block4:hover .heading_project_block4:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #362f2d;
	transition: 0.3s;
	left: 5%;
	top: -9px;
	transform: rotate(-45deg);
}

.project_block4:hover .heading_project_block4 h5{
	color: #FFFFFF;
}

.project_block4:hover .heading_project_block4 p{
	color: #c7b299;
}

.block4_img{
	position: relative;
	width: 100%;
	min-height: 100%;
	cursor: pointer;
}

.project_block4:hover .block4_img:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background: #000000;
	opacity: 0.5;
	transition: 0.3s;
}

.button_projects{
	font-family: 'ralewayextrabold';
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	display:block;
	max-width:170px;
	width:100%;
	background:#998675;
	border-bottom:solid #736357 3px;
	margin:0 auto;
	padding: 15px 0px 13px;
	border-radius:5px;
	transition:0.3s;
	outline: none;
	}
.button_projects:hover{
	text-decoration:none;
	transition:0.3s;
	color:#fff;
	opacity:0.6;
	outline: none;
	}

/* Block 5 */
.block5{
	background-image: url(../images/video_back.png);
	background-size: cover;
	padding: 210px 0px;
}

.item_block5{
	margin: 0 auto;
}

.item_block5 h3{
	display: block;
	text-align: center;
	color: #ffffff;
	font-family: 'ralewaysemibold';
}

.item_block5 p{
	display: block;
	text-align: center;
	color: #ffffff;
	font-family: 'montserratlight';
	margin-bottom: 45px;
}

/* block 6 */

.block6{
	padding: 80px 0px 0px;
}

.text_block6{
	font-family: 'montserratlight';
	font-size: 16px;
	text-align: left;
}

.text_block6 h5{
	font-family: 'ralewaysemibold';
	font-size: 30px;
	padding-bottom: 20px;
	color: #555555;
}

.ul_block6{
	margin-top: 65px;
	text-align: left;
	font-family: 'montserratlight';
	font-size: 16px;
	list-style-image: url(../images/ul_block6_mark.png);
	width: 100%;
}

.ul_block6 li{
	padding-bottom: 10px;
}
/* block 9 */
.block9{
	padding: 130px 0px;
	background-image: url( ../images/partners_back.png);
	background-size: cover;
}

.footer {
    position: absolute;
	width:100%;
    z-index: 3;
    left: 4%;
    top: 30px;
}
/*font-family: 'montserratlight';
font-family: 'ralewayregular';
font-family: 'ralewaysemibold';
font-family: 'ralewayextrabold';
font-family: 'ralewaymedium';*/

@media (max-width: 1199px){
	.item_block:after {
		left: 33%;}
}

@media (max-width: 991px){
	.item_block{
		margin-bottom: 50px;
	}
	.item_block:after {
		left: 39%;}
}
@media (max-width: 767px){
	.item_block:after {
		left: 42%;}
}
@media (max-width: 470px){
	.item_block:after {
		left: 39%;}
}